body, html {
    color: #006699;
    cursor: default;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

button {
    border: none;
    background-color: #FF8D3A;
    color: #fafafa;
    cursor: pointer;
    font-size: 18px;
    margin: 36px 12px 0px 12px;
    padding: 12px 24px;
}

canvas {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

h2 {
    font: 300 24px sans-serif;
    margin: 0px;
}

img {
    margin-top: 48px;
    min-width: 240px;
    width: 24vw;
}

.table {
    display: table;
    height: 100%;
    width: 100%;
}

.cell {
    background-color: #ffffffaa;
    display: table-cell;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}

#asiet {
    width: 240px;
}

#contact {
    font: 300 18px sans-serif;
    margin-top: 48px;
}